.App {
  text-align: center;
  
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction:row-reverse;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.Add-train{
  display: flex;
  flex-direction: column;
  background-color:#53585a;
  margin: 10px;
  padding: 25px;
  width: 35vw;
}
.trains-list{
  display: flex;
  flex-direction: column;
  background: #000;
  width: 65vw;
  padding: 35px;
}
.train-item{
  display: flex;
  justify-content: flex flex-start;
  align-items: center;
  flex-direction: row;
  height: 70px;
}

.btn-grad {background-image: linear-gradient(to right, #283048 0%, #859398  51%, #283048  100%)}
.btn-grad {
  margin: 20px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: rgb(253, 253, 253);            
  box-shadow: 0 0 20px rgb(209, 204, 204);
  border-radius: 10px;
  display: block;
}
.btn-grad:hover {
  background-position: right center; 
  color: rgb(255, 255, 255);
  text-decoration: strong;
}
.btn-delete {
    margin-left: 15px;
    height: 13px;
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(255, 255, 255, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-weight: 800;
    min-height: 40px;
    outline: 0;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;

  }
  
  .btn-delete:hover,
  .btn-delete:active {
    background-color: #ffffff;
    background-position: 0 0;
    color: #FF4742;
  }
  
  .btn-delete:active {
    opacity: .5;
  }

input {
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 1.2rem;
  margin: 5px;
  padding: 1.2rem 2rem;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
  
}

